body {
    background-color: aqua;
}
.hey{
    background-color: aqua;
    padding: 20rem;
}
h1{
    color: red;
}
#idli{
    padding: 20px;
    background-color: aliceblue;
}

.box{
    border: 2px green solid;
    padding: 1px;
    margin: 1px;

}
.flex-container{
    display: flex;
    border: 2px solid mediumslateblue;
    padding:10px;
    background-color: aliceblue;
    opacity: 0.7;

    justify-items: center;
    height: 200px;
    width: 250px;
}
.flex-container div{
    border: 5px solid blueviolet;
    margin : 3px;
    padding : 1px;
    
    flex:1;

}
.flex-container .two{
    flex:1 5 0;
}
img{
    width: 150px;
    height: 200px;
    padding: 2cm;
}